<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.mypage.dao.MypageMapper">  
  	<select id="selectSeatDetailListByMem_num" parameterType="map"
  	                           resultType="seatVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              in_time,
  		              out_time,
  		              total_time
  		            FROM seat_detail WHERE mem_num = #{mem_num}
  		            <if test="keyfield == 1">
  		            ORDER BY in_time DESC NULLS FIRST
  		            </if>
  		            <if test="keyfield == 2">
  		            ORDER BY total_time DESC NULLS LAST
  		            </if>
  		            )a) 				  		
  		<![CDATA[
 			WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>                           
  	</select>
  	
  	<select id="selectPointListByMemNum" parameterType="map" resultType="payVO">
  		SELECT 
  		   *
  		FROM (SELECT 
  		         a.*,
  		         rownum rnum
  		      FROM (SELECT
  		               y.pay_price,
  		   			   y.pay_plan,
  		   			   y.pay_date,
  		  			   y.pay_content,
  		   			   p.point_point
  		   			FROM pay y JOIN point p
  		   			ON y.pay_num = p.pay_num WHERE y.mem_num = #{mem_num}
  		   			<if test="keyfield == 1">
  		   				
  		   			</if>
  		   			<if test="keyfield == 2">
  		   			<![CDATA[
  		   				AND p.point_point > 0
  		   			]]>
  		   			</if>
  		   			<if test="keyfield == 3">
  		   			<![CDATA[
  		   				AND p.point_point < 0
  		   			]]>
  		   			</if>
  		   			ORDER BY y.pay_date DESC
  		   			)a)
  		<![CDATA[
 			WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>
  	</select>
  	
</mapper>







