<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.mypage.dao.MypageMapper">  
	
	<sql id = "paging">
		<where>
			<if test="keyfield == 1">
			</if>
			<if test="keyfield == 2">
	  		   	<![CDATA[
	  		   		AND p.point_point > 0
	  		   	]]>
			</if>
			<if test="keyfield == 3">
	  		   	<![CDATA[
	  		   		AND p.point_point < 0
	  		   	]]>
			</if>
		</where>
	</sql>
	
	<select id="selectPointListCountByMemNum" parameterType="map" resultType="integer">
		SELECT 
		  COUNT(*) 
		 FROM point 
		 WHERE mem_num = #{mem_num}
		 <if test="keyfield == 1">
  		   				
  		 </if>
  		 <if test="keyfield == 2">
  		  		<![CDATA[
  		   		AND point_point > 0
  		   		]]>
  		 </if>
  		 <if test="keyfield == 3">
  		   		<![CDATA[
  		   			AND point_point < 0
  		   		]]>
  		 </if>
		
	</select>
	
  	<select id="selectSeatDetailListByMem_num" parameterType="map"
  	                           resultType="seatVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              in_time,
  		              out_time,
  		              total_time
  		            FROM seat_detail WHERE mem_num = #{mem_num}
  		            <if test="keyfield == 1">
  		            ORDER BY in_time DESC NULLS FIRST
  		            </if>
  		            <if test="keyfield == 2">
  		            ORDER BY total_time DESC NULLS LAST
  		            </if>
  		            )a) 				  		
  		<![CDATA[
 			WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>                           
  	</select>
  	
  	<select id="selectPointListByMemNum" parameterType="map" resultType="payVO">
  		SELECT 
  		   *
  		FROM (SELECT 
  		         a.*,
  		         rownum rnum
  		      FROM (SELECT
  		               y.pay_price,
  		   			   y.pay_plan,
  		   			   y.pay_date,
  		  			   y.pay_content,
  		   			   p.point_point
  		   			FROM pay y JOIN point p
  		   			ON y.pay_num = p.pay_num WHERE y.mem_num = #{mem_num}
  		   			<if test="keyfield == 1">
  		   				
  		   			</if>
  		   			<if test="keyfield == 2">
  		   			<![CDATA[
  		   				AND p.point_point > 0
  		   			]]>
  		   			</if>
  		   			<if test="keyfield == 3">
  		   			<![CDATA[
  		   				AND p.point_point < 0
  		   			]]>
  		   			</if>
  		   			ORDER BY y.pay_date DESC
  		   			)a)
  		<![CDATA[
 			WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>
  	</select>
  	
  	<!-- <select id="selectSumTotalTime" parameterType="map" resultType="_int">

			<foreach collection="array" item = "day" index ="index">
			<if test = "day[index] == null">
			
			</if>
			<if test = "day[index] != null"></if>
			SELECT 
  		   		sum(total_time)
  			FROM seat_detail
  			WHERE in_time LIKE #{day}
			</foreach>
  	</select>
  	SELECT in_time, sum(total_time) FROM seat_detail WHERE mem_num = 543 GROUP BY in_time HAVING in_time >= '2023-03-02' and in_time <= '23-03-05'
  	이거쓰면 일단은 날짜별 토탈타임이 구해진다
  	
  	SELECT sum(total_time) FROM seat_detail WHERE (in_time >= '2023-03-04' or in_time <= '2023-03-04') and mem_num = 543 아니야 이렇게 해야돼 그럼 해당 날짜 토탈값이 하나 도출됨
  	   -->
  	
</mapper>







