<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.community.dao.LostMapper">  
	<sql id="lostSearch">
		<where>
			<if test="cat == 1 or cat == null">
				<if test="keyword != null and keyword != ''">
	  				<if test="keyfield == 1">
	  					l.lf_title LIKE '%' || #{keyword} || '%'
	  				</if>
	  				<if test="keyfield == 2">
	  					l.lf_content LIKE '%' || #{keyword} || '%'
	  				</if>
	  			</if>			
			</if> 
			<if test="cat == 2">
				l.lf_type = 0  
				<if test="keyword != null and keyword != ''">
	  				<if test="keyfield == 1">	  					
	  					AND l.lf_title LIKE '%' || #{keyword} || '%'
	  				</if>
	  				<if test="keyfield == 2">
	  					AND l.lf_content LIKE '%' || #{keyword} || '%'
	  				</if>
	  			</if>				
			</if>
			<if test="cat == 3">
				l.lf_type = 1 
				<if test="keyword != null and keyword != ''">
	  				<if test="keyfield == 1">
	  					AND l.lf_title LIKE '%' || #{keyword} || '%'
	  				</if>
	  				<if test="keyfield == 2">
	  					AND l.lf_content LIKE '%' || #{keyword} || '%'
	  				</if>
	  			</if>				
			</if>						
		</where>
	</sql>
	<select id="selectRowCount" parameterType="map"
  	                           resultType="integer">
  	SELECT
  		  COUNT(*)
  	FROM lost_found l JOIN member_detail d
  		ON l.mem_num = d.mem_num
  	<include refid="lostSearch"></include>		
  	</select>                     
	<select id="selectList" parameterType="map"
  	                         resultType="lostVO">
		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		    		  l.lf_num,
  		    		  <![CDATA[
  		              REPLACE(REPLACE(l.lf_title,'<','&lt;'),'>','&gt;') lf_title,
  		              ]]>
  		              l.lf_content,
  		              l.lf_date, l.lf_type,l.f_condition,
  		              l.lf_item,l.lf_loc,
  		              lf_time,
  		              d.mem_name,
  		              d.mem_num
  		             FROM (ost_found l JOIN member_detail d 
  		             ON l.mem_num = d.mem_num
  		    		<include refid="lostSearch"></include> 
  		      		ORDER BY l.lf_num DESC 
  		      		)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>   	
	</select>
	
	<update id="updateLost" parameterType="lostVO">
		UPDATE lost_found SET
  		  lf_title=#{lf_title},
  		  lf_content=#{lf_content},
  		  lf_type=#{lf_type},
  		  lf_time=#{lf_time},
  		  lf_loc=#{lf_loc},
  		  lf_item=#{lf_item},
  		  f_condition=#{f_condition},
  		  lf_modify_date=SYSDATE
  		 WHERE lf_num=#{lf_num}
	</update>

	<!-- 댓글 -->
	<select id="selectListLostReply" parameterType="map" resultType="lostReplyVO">
  		SELECT
  		   *
  		FROM(SELECT
  		       a.*,
  		       rownum rnum
  		     FROM(SELECT
  		            re_num,
  		            <![CDATA[
  		            REPLACE(REPLACE(re_content,'<','&lt;'),'>','&gt;') re_content,
  		            ]]>
  		            re_date,
  		            re_modify_date,
  		            lf_num,
  		            d.mem_num,
  		            d.mem_name
  		          FROM reply_lost r JOIN member_detail d
  		          ON r.mem_num = d.mem_num
  		          WHERE lf_num = #{lf_num}
  		          ORDER BY re_num DESC)a)
  		    <![CDATA[
  		    WHERE rnum >= #{start} AND rnum <= #{end}
  		    ]]>          
  	</select>	  
</mapper>