<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.community.dao.LostMapper">  

<sql id="lostSearch">
		<where>
			<if test="keyword != null and keyword != ''">
  				<if test="keyfield == 1">
  					l.lf_title LIKE '%' || #{keyword} || '%'
  				</if>
  				<if test="keyfield == 2">
  					m.id LIKE '%' || #{keyword} || '%' OR
  					l.lf_content LIKE '%' || #{keyword} || '%'
  				</if>
  			</if>
		</where>
	</sql>
	<select id="selectRowCount" parameterType="map"
  	                           resultType="integer">
  	SELECT
  		  COUNT(*)
  		FROM lost_found l JOIN member_detail d
  		ON l.mem_num = d.mem_num
  		<include refid="lostSearch"></include> 
  	</select>                     
	<select id="selectList" parameterType="map"
  	                         resultType="lostVO">
		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		    		  l.lf_num,
  		    		  <![CDATA[
  		              REPLACE(REPLACE(l.lf_title,'<','&lt;'),'>','&gt;') lf_title,
  		              ]]>
  		              l.lf_date,
  		              l.mem_num
  		             FROM lost_found l JOIN member_detail d
  		    		 ON l.mem_num = d.mem_num
  		    		 <include refid="lostSearch"></include> 
  		      		ORDER BY l.lf_num DESC)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>   	
	</select>
	<update id="updateLost" parameterType="lostVO">
		UPDATE lost_found SET
  		  lf_title=#{lf_title},
  		  lf_content=#{lf_content},
  		  f_condition=#{f_condition},
  		  lf_modify_date=SYSDATE
  		 WHERE lf_num=#{lf_num}
	</update>



</mapper>