<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC
       "-//mybatis.org//DTD Mapeer 3.0//EN"
       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.seat.dao.SeatMapper">

	<select id="getSeatList" resultType="seatVO">
  	       SELECT * FROM SEAT
  	</select>

	<select id="getSeatDetailList" resultType="seatVO">
  	                            
  	       SELECT * FROM SEAT_DETAIL
  	</select>
</mapper>