@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
#main_content_body{
	position:relative;
}
#main_content{
	margin-top: 50px;
	height: 75vh;
}

body{
	background-color:#F3F1F1!important;
	height:100%;
	position:relative;
}

a, a:link, a:hover, a:visited, a:focus{
	text-decoration: none;
	color: #000000;
}
.error-color{
	color: #E65962;
}
.card{ 
	border-radius: 1rem;
	border: 0 solid #d9dee3;
	margin:20px 10px 5px 10px;
	padding:10px;
}
#ticket_modi_form{
	width: 1296px;
	margin-top: 100px;
	padding:0px;
}
#modify_btn{
	margin-top:10px;
	background-color: #E65962;
	border:none;
	color: #FFFFFF;
	margin-right:5px;
}
#list_btn{
	height: 36px;
	margin-top: 10px;
	margin-right:15px;
	background-color: #384048;
	border:none;
	color: #FFFFFF;
}
#submit_btn{
	margin-top:10px;
	background-color: #E65962;
	border:none;
	color: #FFFFFF;
	margin-right:5px;
}
input[type='radio']:checked{
	background-color: #E65962;
	border: none;
}
/*======================
  		 footer
========================*/
#footer-content{
	line-height:1.7em;
	font-family: 'Pretendard-Regular';
	font-size:11pt;
}
#footer-logo{
	color:#F3F1F1;
	font-size:12pt;
	padding:0px;
}
div#main_footer .footer-main{
	float:left;
}
div#main_footer .footer-sns{
	float:right;
	margin-right:100px;
	word-spacing:15px;
	padding-top:40px;
}
.footer-sns a:hover{
	color: #F3F1F1;
}
