@charset "UTF-8";

body {
  background-color: #F6F7EB;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
  color: #2b3a40;
}
.accordion { 
  background-color: #fefffa;
  max-width: 650px;
  margin: 50px auto;
  border:none;
  border-top: 6px solid #44BBA4;
  box-shadow: 5px 5px 10px 0px #808080;
  border-radius:10px;
}
.accordion-button:not(.collapsed){
	color:#fff;
	background-color:#44BBA4;
}

