/*================================
			BASIC SETTING
  ===============================*/
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body{
	background-color: #F3F1F1 !important;
	height:100%;
	position:relative;
}
#main_content_body{
	position:relative;
}

/*================================
			FOOTER SETTING
  ===============================*/
#footer-content{
	line-height:1.7em;
	font-family: 'Pretendard-Regular';
	font-size:11pt;
}
#footer-logo{
	color:#F3F1F1;
	font-size:12pt;
	padding:0px;
}
div#main_footer .footer-main{
	float:left;
}
div#main_footer .footer-sns{
	float:right;
	margin-right:100px;
	word-spacing:15px;
	padding-top:40px;
}
.footer-sns a:hover{
	color: #F3F1F1;
}

/*==================================
  	  RESPONSIVE FOOTER SETTING
  ==================================*/

@media screen and (max-width:1320px){
	.footer-sns{
		display:none;
	}
	.footer-main{
		margin-left:80px;
	}
}
@media screen and (max-width:991px) {
	div#main_body{
		left:10px;
	}
	.footer-sns{
		display:none;
	}
	div#main_footer{
		padding:30px 10px 20px 5px;
		height:45vh;
		width:1540px;
	}
	.footer-main{
		margin-left:20px;
	}
}

/*================================
			FIX MAIN CSS
  ===============================*/
div#main_body{
	margin-top:50px;
	margin-left:260px;
	margin-bottom:50px;
}
/*================================
			RESPONSIVE CSS
  ===============================*/
@media screen and (max-width : 1100px){

	nav#main-sidebar{
		margin-right:0px;
	}
	
	div#main_body{
		margin-top:50px;
		margin-left:10%;
		margin-bottom:50px;
	}
	.locker-option{
		min-width:100px;
	}
}
@media screen and (max-width : 991px){

	nav#main-sidebar{
		margin-right:0px;
	}
	
	div#main_body{
		position:relative;
		left:10px;
		margin-left:8%;
		margin-right:70px;
	}
	.locker-option{
		min-width:10%;
		min-height:10%;
	}
}

	
/*===========================
      LOCKER BTNS EFFECTS
  ===========================*/
    .locker-option span {         
    top: 0; left: 0;
    transition: 0.3s;
  }
  .locker-option::before {
  transition: 0.3s ease-out;
}
  .locker-option span {
  border: none;
  transition: 0.2s 0.1s;
}
.locker-option span:hover {
  color: rgb(28, 31, 30);
  transition: 0.3s 0.1s;
}
 
button.hover-filled-opacity:hover::before {
  	opacity: 0;
}
button.hover-filled-opacity:hover{
	background-color:#BBFE97;
	opacity:0.5;
}
 button.hover-filled-opacity::before {
  top:0; bottom: 0; right: 0;
  height: 100%; width: 100%;
  opacity: 1;
}

/*===========================
      LOCKER DETAIL
  ===========================*/
    .locker-box{
        display: flex;
    }
    .locker-option{
        background-color: #BBFE97;
        width:175px; height: 90px;
        margin:2px;
        border:none;
    }
    
/*===========================
      STATUS BUTTONS
  ===========================*/
  .locker-status{
  	box-sizing:border-box;
	width:75px;
	padding:3px; margin:6px;
	border:none;
	box-shadow: 3px 3px 3px #848484;
	position:relative;
	left:-4px;
	bottom:-15px;
	z-index:50;
  }
  button#empty{
	background-color:#BBFE97;
  }
  button#full{
	background-color:#D7D5D5;
  }
  /*===========================
		RESPONSIVE NAV
  ===========================*/
  @media screen and (max-width:991px) {

    #navbar{
    	width:1540px;
    }
}