@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
	background-color:#F3F1F1!important;
	height:100%;
}

.main_content_body{
	position:relative;
}
#body_header{
	width:1215px;
}
.card{
	min-width: 0;
	border-radius: 1rem;
	border: 0 solid #d9dee3;
	margin:20px 10px 5px 10px;
	padding:10px;
}
.main_card{
	box-shadow: 2px 4px 8px #babebc;
	position: absolute;
	display:flex;
}
.main_banner{
	position: absolute;
	margin-top:10px;
	position: relative;
}
.newbanner1{
	width:820px;
	height:270px;
	font-family: 'KOTRAHOPE';
	font-size:17pt;
	border-radius:3rem;
	box-shadow: 2px 4px 8px #babebc;
}
#cal_card{
	width:330px;
	height:330px;
	margin:8px 0 0 35px;
	left:800px;
}
#study_time{
	width:450px;
	height:400px;
	bottom:50px;
}
#all_time{
	width:240px;
	height:400px;
}
#study_photo{
	width:425px;
	height:400px;
}
.study_photo{
	width:190px;
	height:140px;
	margin:5px;
	margin-bottom:10px;
}
.main-title{
	font-family: 'Pretendard-Regular';
	font-size:12pt;
}
.digital-clock{
	width:200px;
	display:inline-block;
	position:relative;
	top:15px;
	left:450px;
}
#___gcse_0{
	display:inline-block;
	width:400px;
	position:relative;
	left:550px;
}
#clock ul{
	margin:0;
}
#clock ul li{
	float:left;
	padding:0;
}

/*======================
  		 달력
========================*/

.sec_cal {
    width: 280px;
    margin: 0 auto;
    font-family: "NotoSansR";
}

.sec_cal .cal_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 550;
    font-size: 25px;
}

.sec_cal .cal_nav .year-month {
    width: 200px;
    text-align: center;
    color:#384048;
}

.sec_cal .cal_nav .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
    display: block;
    width: 20px;
    height: 40px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    border: 1px solid #000;
    border-width: 2px 2px 0 0;
    transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
    border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
    transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
    transform: rotate(45deg);
}

.sec_cal .cal_wrap {
    padding-top: 20px;
    position: relative;
    margin: 0 auto;
}

.sec_cal .cal_wrap .days {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
    top: 368px;
}

.sec_cal .cal_wrap .day {
    display:flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    text-align: left;
    color: black;
    font-size: 12px;
    text-align: center;
    border-radius:10px
}
.sec_cal .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 210px;
}
.sec_cal .cal_wrap .day.disable {
    color: #ddd;
}

.current.today {
	background: #F4ABB2;
}

/*======================
  		 footer
========================*/
#footer-content{
	line-height:1.7em;
	font-family: 'Pretendard-Regular';
	font-size:11pt;
}
#footer-logo{
	color:#F3F1F1;
	font-size:12pt;
	padding:0px;
}
div#main_footer .footer-main{
	float:left;
}
div#main_footer .footer-sns{
	float:right;
	margin-right:80px;
	word-spacing:15px;
	padding-top:40px;
}
.footer-sns a:hover{
	color: #F3F1F1;
}
