@charset "UTF-8";
div#main_body {
    padding-bottom:0;
}
.body{
	font-family: 'Noto Sans KR', sans-serif;
}
.location_con01 {
    padding: 10px 0;
}
.inner {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.sub_tit {
    text-align: center;
}
.sub_map{
	margin: 0 auto;
}
.sub_tit h3 {
    font-size: 38px;
    color: #222222;
    letter-spacing: -0.045em;
    font-weight: 700;
    margin: 0;
    line-height: 1.4;
}
.sub_tit h4 {
    font-size: 18px;
    color: #888888;
    letter-spacing: 0em;
    font-weight: 400;
    margin: 0;
    margin-top: 5px;
}
.sub_tit h4 b {
    font-weight: 700;
}

.location_con01 dl {
    display: block;
    height: auto;
}
.location_con01 dl dt {
    display: block;
    width: 100%;
    height: 400px;
}
.location_con01 dl dd {
    display: block;
    width: 100%;
    padding-top: 30px;
}
.location_con01 dl dd .top {
    padding-bottom: 30px;
}
.location_con01 dl dd .top h4 {
    position: relative;
    font-size: 16px;
    color: #c8cacc;
    letter-spacing: 0em;
    font-weight: 500;
    margin: 0;
    line-height: 1.6;
    padding-left: 25px;
}
.location_con01 dl dd .top h4:before {
    content: '';
    position: absolute;
    display: block;
    width: 5px;
    height: 83%;
    background: #737373;
    top: 1px;
    left: 0;
}
.location_con01 dl dd .top h4 b {
    font-size: 34px;
    color: #222222;
    letter-spacing: -0.045em;
    font-weight: 500;
}
.location_con01 dl dd .top p {
    font-size: 16px;
    color: #888888;
    letter-spacing: -0.045em;
    font-weight: 300;
    line-height: 1.6;
    margin-top: 20px;
}
.location_con01 dl dd .top p span {
    letter-spacing: 0em;
    font-weight: 400;
}
.location_con01 dl dd .bot {
    padding-top: 30px;
}
.location_con01 dl dd .bot h5 {
    font-size: 20px;
    color: #444444;
    letter-spacing: -0.045em;
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px;
}
.location_con01 dl dd .bot h5 img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol, dl {
    list-style: none;
    margin: 0;
}
.location_con01 dl dd .bot {
    padding-top: 30px;
}
.location_con01 dl dd .bot ul li {
    margin: 5px 0;
    font-size: 0;
    letter-spacing: -4px;
}
.location_con01 dl dd .bot ul li h6 {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    color: #444444;
    letter-spacing: -0.045em;
    font-weight: 300;
    margin: 0;
    padding-right: 10px;
    box-sizing: border-box;
}
.location_con01 dl dd .bot ul li h6:before {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 20px;
    background: #737373;
    top: 1px;
    right: 0;
}
.location_con01 dl dd .bot ul li h6 span.col01 {
    background: #009944;
}
.location_con01 dl dd .bot ul li h6 span {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    padding: 3px 8px;
    border-radius: 2px;
    margin-right: 2px;
}
.location_con01 dl dd .bot ul li p {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    color: #666666;
    letter-spacing: -0.045em;
    font-weight: 300;
    line-height: 1.4;
    padding-left: 10px;
    box-sizing: border-box;
}

.mont {
    font-family: 'Montserrat', sans-serif;
}