@charset "UTF-8";
/*------------------------------------------------
# 회원가입
--------------------------------------------------*/
@keyframes fadeInUp {
	0% {
		opacity: 0;
        transform: translate3d(0, 5%, 0);
        
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
    
#register-logo{
	width:155px;
	height:150px;
	margin:35px auto;
	margin-bottom:0px;
	display:block;
}

.register_left{
  background-color: #E65962;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  top:90px;
  left:230px;
  width: 550px;
  height:970px;
  animation: fadeInUp 1s;
}

.register-main{
	width:55%;
	margin:-890px 40px 50px 225px;
	position: relative;
	padding:50px;
	animation: fadeInUp 1s;
}
#register_form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 0 10px 10px rgba(0,0,0,0.22);
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 860px;
}

input:not(input[id="confirmId"],#find-zipcode),select,#email_direct{
	width:150px;
	height:40px;
	border-radius:10px;
	border:none;
	box-shadow: inset 2px 2px 5px #babebc, inset -5px -5px 12px #fff;
	padding:0 10px;
}

select,#email_direct{
	width:127px !important;
}
#email_direct{
	width:110px !important;
	margin:10px 0 0px 320px;
}

input[id="mem_id"],input[id="mem_pw"],input[id="pw_confirm"],input[id="mem_name"],
input[id="mem_phone"],input[id="mem_address1"],input[id="mem_address2"]{
	width:230px;
	margin-bottom:5px;
}
input[id="mem_id"]{
	width:150px !important;
}
input[id="mem_zipcode"]{
	width:195px;
}

input[id="user_email"]{
	width:130px;
	margin-bottom:5px;
}

input[id="confirmId"],#mail-Check-Btn,#find-zipcode{
	color:white;
	background-color:#E65962;
	width:125px;
	height:40px;
	border-radius:10px;
	border:none;
	margin-left:20px;
	font-size:10pt;
	margin-bottom:5px;
}

#register-submit-btn{
	color:white;
	background-color:#E65962;
	width:125px;
	height:40px;
	border-radius:10px;
	border:none;
	font-size:10pt;
	margin-top:10px;
	margin-bottom:50px;
}
.mail-check-input{
	margin-left:130px;
	font-size:10pt;
	display:inline;
}

.register-content{
	margin-left:40px;
	margin-bottom:10px;
}
ul li label{
	margin-top:16px;
}
#message_id{
	margin-top:3px;
	margin-left:135px;
}
#message_pw{
	margin-left:135px;
}

label{
	font-weight:bold;
	font-size:10pt;
}
button,input[type="button"]{
	cursor:pointer;
}
div#mail-check-warn{
	margin-left:132px;
}

/*=====================================
			  회원가입 반응형
======================================*/
@media screen and (min-width:768px) and (max-width:991px){
	div.register-main{
		margin-left:20px;
		margin-right:0;
	}
	.register_left{
  		left:20px;
	}
}
@media screen and (max-width:767px){
	div.register-main{
		width:100%;
		margin:0 0px 50px 0px;
		position: absolute;
		padding:0px;
		animation: fadeInUp 1s;
	}
	.register_left{
  		display:none;
	}
	form#register_form {
  		background-color: #fff;
  		border-radius: none;
  		box-shadow: none;
	}
	form#register_form ul{
		padding:0;
	}
	form ul li label{
		width:100px;
	}
	form ul{
		margin-left:-15px;
	}
	.mail-check-box{
		margin-left:50px;
	}
	.mail-check-input{
		margin-left:50px;
	}
	div#mail-check-warn{
		margin-left:105px;
	}
	#message_id{
		margin-left:105px;
	}
	#message_pw{
		margin-left:105px;
	}
}