@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#main_content_body{
	margin-top: 30px;
	margin-bottom: 50px;
}

body{
	background-color:#F3F1F1!important;
	height:100%;
	position:relative;
}

.card{ 
	border-radius: 1rem;
	border: 0 solid #d9dee3;
	margin:20px 10px 5px 10px;
	padding:10px;
}
#ticket_card{
	width:400px;
}
#locker_ticket{
	width: 400px;
}

form{
	margin:0;
	padding:0 15px 15px 0;
}
#study_buy_btn{
	margin-top:10px;
	background-color: #E65962;
	border:none;
}
#lock_buy_btn{
	margin-right:15px;
	background-color: #E65962;
	border:none;
}
#no_ticket{
	margin-top: 50px;
}
/*======================
  		 footer
========================*/
#footer-content{
	line-height:1.7em;
	font-family: 'Pretendard-Regular';
	font-size:11pt;
}
#footer-logo{
	color:#F3F1F1;
	font-size:12pt;
	padding:0px;
}
div#main_footer .footer-main{
	float:left;
}
div#main_footer .footer-sns{
	float:right;
	margin-right:100px;
	word-spacing:15px;
	padding-top:40px;
}
.footer-sns a:hover{
	color: #F3F1F1;
}
