<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.admin.dao.AdminMapper">
	<!-- 회원목록 -->
  	<select id="selectRowCount" parameterType="map" resultType="integer">
  		SELECT
  		  COUNT(*)
  		FROM member m LEFT OUTER JOIN member_detail d
  		ON m.mem_num = d.mem_num
  		<if test="keyword != null and keyword != ''">
  			WHERE d.mem_name LIKE '%' || #{keyword} || '%' OR
  				  d.mem_num LIKE '%' || #{keyword} || '%'
  		</if>                         
  	</select>
  	
  	<select id="selectList" parameterType="map" resultType="adminMemberVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              *
  		            FROM member m LEFT OUTER JOIN
  		                 member_detail d 
  		            ON m.mem_num = d.mem_num             
			  		<if test="keyword != null and keyword != ''">
				  		WHERE d.mem_name LIKE '%' || #{keyword} || '%' OR
				  			  d.mem_num LIKE '%' || #{keyword} || '%' 
			  		</if>
  		            <if test="keyfield == 1 or keyfield == null">
  		            ORDER BY d.mem_regdate DESC NULLS LAST
  		            </if>
  		            <if test="keyfield == 2">
  		            ORDER BY d.mem_name ASC, d.mem_regdate DESC NULLS LAST
  		            </if>
  		            )a) 				  		
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>                           
  	</select>

	<!-- 좌석 히스토리목록 -->
  	<select id="selectSeatRowCount" parameterType="map" resultType="integer">
  		SELECT
  		  COUNT(*)
  		FROM seat_detail s
  		<if test="keyword != null and keyword != ''">
  		WHERE s.mem_name LIKE '%' || #{keyword} || '%' OR
  			  s.mem_num LIKE '%' || #{keyword} || '%'
  		</if>                       
  	</select>
  	
  	<select id="selectSeatList" parameterType="map" resultType="adminSeatHistoryVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*, 
  		        rownum rnum 
  		      FROM (SELECT
  		      			seat_detail_num, seat_num, mem_num, mem_name, total_time,
  		      			TO_CHAR(in_time, 'yyyy-MM-dd HH24:MI:SS') in_time, TO_CHAR(out_time, 'yyyy-MM-dd HH24:MI:SS') out_time       
  		            FROM seat_detail s 
  		            <if test="keyword != null and keyword != ''">
				  	WHERE s.mem_name LIKE '%' || #{keyword} || '%' OR
				  		  s.mem_num LIKE '%' || #{keyword} || '%'
				  	</if>            				  		 
  		            <if test="keyfield == 1">	            
  		            ORDER BY s.in_time DESC NULLS LAST
  		            </if>
  		            <if test="keyfield == 2">
  		            ORDER BY s.mem_name ASC, s.in_time DESC NULLS LAST
  		            </if>
  		            <if test="keyfield == 3">
  		            ORDER BY s.total_time DESC, s.in_time DESC NULLS FIRST
  		            </if>
  		            )a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>   		               		                         
  	</select>
  	
	<!-- 사물함 히스토리목록 -->
  	<select id="selectLockerRowCount" parameterType="map" resultType="integer">
  		SELECT
  		  COUNT(*)
  		FROM locker_detail d
  		<if test="keyword != null and keyword != ''">
  		WHERE d.mem_name LIKE '%' || #{keyword} || '%' OR
  			  d.mem_num LIKE '%' || #{keyword} || '%'
  		</if>   		                    
  	</select>
  	
  	<select id="selectLockerList" parameterType="map" resultType="adminLockerHistoryVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*, 
  		        rownum rnum 
  		      FROM (SELECT
  		      			d.locker_detail_num, d.locker_num, d.mem_num, d.mem_name, 
  		      			TO_CHAR(d.locker_start, 'yyyy-MM-dd HH24:MI:SS') locker_start, 
  		      			TO_CHAR(d.locker_end, 'yyyy-MM-dd HH24:MI:SS') locker_end, 
  		      			l.locker_status        
  		            FROM locker_detail d LEFT OUTER JOIN locker_info l 
  		            ON l.locker_num = d.locker_num
			   		<if test="keyword != null and keyword != ''">
			  		WHERE d.mem_name LIKE '%' || #{keyword} || '%' OR
			  			  d.mem_num LIKE '%' || #{keyword} || '%'
			  		</if>  		                      				  		 
  		            <if test="keyfield == 1">	            
  		            ORDER BY d.locker_start DESC NULLS LAST
  		            </if>
  		            <if test="keyfield == 2">
  		            ORDER BY d.mem_name ASC, d.locker_start DESC NULLS LAST
  		            </if>
  		            <if test="keyfield == 3">
  		            ORDER BY d.locker_end ASC, d.locker_start DESC NULLS FIRST
  		            </if>
  		            )a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>   		               		                         
  	</select>
  	
	<!-- 물품대여 히스토리목록 -->
  	<select id="selectItemRowCount" parameterType="map" resultType="integer">
  		SELECT
  		  COUNT(*)
  		FROM item_detail d LEFT OUTER JOIN item i 
  		ON d.item_num = i.item_num 
  		<if test="keyword != null and keyword != ''">
  		WHERE i.item_title LIKE '%' || #{keyword} || '%' 
  		</if>    		                   
  	</select>
  	
  	<select id="selectItemList" parameterType="map" resultType="adminItemHistoryVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,  
  		        rownum rnum 
  		      FROM (SELECT b.*, mem_name, mem_phone 
					FROM (SELECT item_rnum, item_title, item_index, mem_num, item_start, item_end     
        				  FROM item_detail d LEFT OUTER JOIN item i 
        				  ON d.item_num = i.item_num)b LEFT OUTER JOIN member_detail m 
					ON b.mem_num = m.mem_num
			  		<if test="keyword != null and keyword != ''">
				  		WHERE b.item_title LIKE '%' || #{keyword} || '%'
			  		</if>					            				  		 
  		            <if test="keyfield == 1">	            
  		            ORDER BY b.item_start DESC NULLS LAST
  		            </if>
  		            <if test="keyfield == 2">
  		            ORDER BY m.mem_name ASC, b.item_start DESC NULLS LAST
  		            </if>
  		            <!--
  		            <if test="keyfield == 3">
  		            ORDER BY a.item_utime DESC NULLS FIRST
  		            </if>
  		             -->
  		            )a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>   		               		                         
  	</select> 
  	
	<!-- 미반납자 목록 -->
  	<select id="selectUnreturnRowCount" parameterType="map" resultType="integer">
  		SELECT
  		  COUNT(*)
  		FROM item_detail d LEFT OUTER JOIN item i
  		ON d.item_num = i.item_num
  		WHERE d.item_end IS NULL  
  		<if test="keyword != null and keyword != ''">
  		AND i.item_title LIKE '%' || #{keyword} || '%' 
  		</if>    		                   
  	</select>
  	
  	<select id="selectUnreturnList" parameterType="map" resultType="adminItemHistoryVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,  
  		        rownum rnum 
  		      FROM (SELECT b.*, mem_name, mem_phone 
					FROM (SELECT item_rnum, item_title, item_index, mem_num, item_start, item_end     
        				  FROM item_detail d LEFT OUTER JOIN item i 
        				  ON d.item_num = i.item_num)b LEFT OUTER JOIN member_detail m 
					ON b.mem_num = m.mem_num
					WHERE b.item_end IS NULL 
			  		<if test="keyword != null and keyword != ''">
				  		AND b.item_title LIKE '%' || #{keyword} || '%'
			  		</if>					            				  		 
  		            <if test="keyfield == 1">	            
  		            ORDER BY b.item_start DESC NULLS LAST
  		            </if>
  		            <if test="keyfield == 2">
  		            ORDER BY b.item_start ASC NULLS LAST
  		            </if>
  		            <!--
  		            <if test="keyfield == 3">
  		            ORDER BY a.item_utime DESC NULLS FIRST
  		            </if>
  		             -->
  		            )a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>   		               		                         
  	</select> 
  	
	<!-- 판매기록목록 -->
  	<select id="selectSalesRowCount" parameterType="map" resultType="integer">
  		SELECT
  		  COUNT(*)
  		FROM pay p LEFT OUTER JOIN member_detail d
  		ON p.mem_num = d.mem_num
  		<if test="keyword != null and keyword != ''">
  			WHERE d.mem_name LIKE '%' || #{keyword} || '%' OR
  				  d.mem_num LIKE '%' || #{keyword} || '%'
  		</if>                        
  	</select>
  	
  	<select id="selectSalesList" parameterType="map" resultType="adminSalesVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,  
  		        rownum rnum 
  		      FROM (SELECT b.*, ticket_name
					FROM (SELECT p.mem_num, mem_name, pay_plan, 
								 TO_CHAR(pay_price, '999,999') pay_price,
								 TO_CHAR(pay_date, 'yyyy-MM-dd HH24:MI:SS') pay_date, 
								 ticket_num 
      					  FROM pay p LEFT OUTER JOIN member_detail d 
      					  ON p.mem_num = d.mem_num)b LEFT OUTER JOIN ticket t 
					ON b.ticket_num = t.ticket_num 
			  		<if test="keyword != null and keyword != ''">
				  	WHERE b.mem_name LIKE '%' || #{keyword} || '%' OR 
      					  b.mem_num LIKE '%' || #{keyword} || '%'
			  		</if>					            				  		 
  		            <if test="keyfield == 1">	            
  		            ORDER BY b.pay_date DESC NULLS LAST
  		            </if>
  		            <if test="keyfield == 2">
  		            ORDER BY b.mem_name ASC, b.pay_date DESC NULLS LAST
  		            </if>
  		            )a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>   		        
  	</select>  	 	 	  	
  	
	<!-- 수신 채팅 히스토리 -->
  	<select id="selectReceiveRowCount" parameterType="map" resultType="integer">
		SELECT 
		  COUNT(*)
		FROM (SELECT talk_num, t.mem_num, mem_name, message, chat_date   
		      FROM talk t LEFT OUTER JOIN member_detail d 
		      ON t.mem_num = d.mem_num)b LEFT OUTER JOIN member m 
		ON b.mem_num = m.mem_num 
		WHERE m.mem_auth != 9 
  		<if test="keyword != null and keyword != ''">
  			  AND (b.mem_name LIKE '%' || #{keyword} || '%' OR
  				   b.mem_num LIKE '%' || #{keyword} || '%') 
  		</if>
  		 -->                        
  	</select>
  	
  	<select id="selectReceiveList" parameterType="map" resultType="adminTalkHistoryVO">
  		SELECT
  		   *
  		FROM (SELECT a.*, rownum rnum 
			  FROM (SELECT *
      				FROM (SELECT talk_num, t.mem_num, mem_name, message, 
      							 TO_CHAR(chat_date, 'yyyy-MM-dd HH24:MI:SS') chat_date   
            			  FROM talk t LEFT OUTER JOIN member_detail d 
      					  ON t.mem_num = d.mem_num)b LEFT OUTER JOIN member m 
      				ON b.mem_num = m.mem_num 
      				WHERE m.mem_auth != 9          
			  		<if test="keyword != null and keyword != ''">
				  	AND (b.mem_name LIKE '%' || #{keyword} || '%' OR 
      					 b.mem_num LIKE '%' || #{keyword} || '%')
			  		</if>				            				  		 
  		            <if test="keyfield == 1">	            
  		            ORDER BY b.chat_date DESC, b.talk_num DESC NULLS LAST
  		            </if>
  		            <if test="keyfield == 2">
  		            ORDER BY b.mem_name ASC, b.talk_num DESC NULLS LAST
  		            </if>
  		            )a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>   		        
  	</select>  	
  	
	<!-- 발신 채팅 히스토리 -->
  	<select id="selectSendRowCount" parameterType="map" resultType="integer">
		SELECT 
		  COUNT(*)
		FROM (SELECT talk_num, c.mem_num, c.mem_name, chat_date, message
			  FROM 
				   (SELECT b.*, m.mem_auth
					FROM (SELECT talk_num, talkroom_num, t.mem_num, mem_name, message, 
					             TO_CHAR(chat_date, 'yyyy-MM-dd HH24:MI:SS') chat_date   
					      FROM talk t LEFT OUTER JOIN member_detail d 
					      ON t.mem_num = d.mem_num)b LEFT OUTER JOIN member m 
					ON b.mem_num = m.mem_num 
					WHERE mem_auth = 9)d
					LEFT OUTER JOIN
				   (SELECT talkroom_num, t.mem_num, mem_name, mem_auth  
					    FROM talk_member t LEFT OUTER JOIN member_detail d ON t.mem_num=d.mem_num
					                       LEFT OUTER JOIN member m ON d.mem_num=m.mem_num
					WHERE mem_auth !=9)c
			   ON c. talkroom_num=d.talkroom_num 
		  	   <if test="keyword != null and keyword != ''">
		  	   WHERE (c.mem_name LIKE '%' || #{keyword} || '%' OR
		  			  c.mem_num LIKE '%' || #{keyword} || '%') 
		  	   </if>
		  	   )
  		 -->                        
  	</select>
  	
  	<select id="selectSendList" parameterType="map" resultType="adminTalkHistoryVO">
  		SELECT
  		   *
  		FROM (SELECT a.*, rownum rnum 
			  FROM (SELECT talk_num, c.mem_num, c.mem_name, chat_date, message
					FROM 
					    (SELECT b.*, m.mem_auth
					    FROM (SELECT talk_num, talkroom_num, t.mem_num, mem_name, message, 
					                TO_CHAR(chat_date, 'yyyy-MM-dd HH24:MI:SS') chat_date   
					          FROM talk t LEFT OUTER JOIN member_detail d 
					          ON t.mem_num = d.mem_num)b LEFT OUTER JOIN member m 
					    ON b.mem_num = m.mem_num 
					    WHERE mem_auth = 9)d
					    LEFT OUTER JOIN
					    (SELECT talkroom_num, t.mem_num, mem_name, mem_auth  
					    FROM talk_member t LEFT OUTER JOIN member_detail d ON t.mem_num=d.mem_num
					                       LEFT OUTER JOIN member m ON d.mem_num=m.mem_num
					    WHERE mem_auth !=9)c
					ON c. talkroom_num=d.talkroom_num          
			  		<if test="keyword != null and keyword != ''">
				  	WHERE c.mem_name LIKE '%' || #{keyword} || '%' OR 
      					  c.mem_num LIKE '%' || #{keyword} || '%'
			  		</if>				            				  		 
  		            <if test="keyfield == 1">	            
  		            ORDER BY d.chat_date DESC, d.talk_num DESC NULLS LAST
  		            </if>
  		            <if test="keyfield == 2">
  		            ORDER BY c.mem_name ASC, d.talk_num DESC NULLS LAST
  		            </if>
  		            )a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>   		        
  	</select>  	   	 	 	  	  	  	  	  	  	
</mapper>

