@charset "UTF-8";

/*======= 작은 화면 =======*/
@media screen and (max-width : 991px){
	
	.welcome-msg{
		display : none;
	}
	
	p{
		display :inline-block;
	}
	
	.element-box {
		display : grid;
		grid-template-columns: 1fr;
		row-gap: 5px;
		margin-bottom: 5px;

	}
	.element{
		border : 1px solid rgba(64, 64, 64, 0.2);
		border-radius : 5px;
		padding : 0 20px;
		background: #F8E0E6;
	}
	
	.element:nth-child(1) .profile-photo{
		position : relative;
		top : 19px;
		width : 100px;
		height : 100px;
		border-radius : 50%;
	}
	.element:nth-child(1) .settings-img{
		position : relative;
		width : 10px;
		height : 10px;
		top : 65px;
		left : -20px;
	}

	.element:nth-child(1) .span-align{
		position : relative;
		top : 24px;
	}
	
	.element:nth-child(1) .locker-btn{
		border : 1px solid #A2A2A2;
		background : #FFF;
		border-radius : 15px;
		vertical-align: middle;
		position: relative;
 	 	top: -20%;
  		transform: translateY(-50%);
		float : right;
	}
	.element:nth-child(1) .firstclass-p{
		vertical-align: middle;
		position: relative;
 	 	top: 20%;
  		transform: translateY(-50%);
		float : right;
		left : 95px;
	}
	.element:nth-child(3) .data-align{
		position : relative;
		top : 9px;
		left : 4px;
	}
	.element:nth-child(3) p{
		vertical-align: middle;
		position: relative;
 	 	top: 21px;
  		transform: translateY(-50%);
		float : right;
		left : -4px;
	}
	.element:nth-child(5) .data-align{
		position : relative;
		top : 9px;
		left : 4px;
	}
	.element:nth-child(5) p{
		vertical-align: middle;
		position: relative;
 	 	top: 21px;
  		transform: translateY(-50%);
		float : right;
		left : -4px;
	}
	.element:nth-child(7){
		padding : 10px 20px;
	}
	.element:nth-child(7) .data-time{
		float : right;
	}
	.element:nth-child(7) .seatcheck-buttons{
		position : relative;
		top : 20px;
	}
	.element:nth-child(7) .seatcheck-button{
		border : 1px solid #A2A2A2;
		background : #FFF;
		border-radius : 10px;
	}
	.element:nth-child(7) .lastchild-span{
		vertical-align: middle;
		position: relative;
 	 	top: 11px;
  		transform: translateY(-50%);
		float : right;
		left : -5px;
	}
	
	/*======== 회원 정보 부분 클릭 가능한 곳 수정 ========*/
	#mem_info_btn{
		text-decoration: none;
		color: #000000;
		font-weight: bold;
	}
	#mem_modify_btn{
		text-decoration: none;
		color: #000000;
		font-weight: bold;
	}
	#mem_studyTime_btn{
		text-decoration: none;
		color: #000000;
		font-weight: bold;
	}
	#mem_point_btn{
		text-decoration: none;
		color: #000000;
		font-weight: bold;
	}
	.link-font{
		text-decoration: none;
		color: #000000;
		font-weight: bold;
	}
	.mypage-title, .mypage-title .sum-title{
		text-align: center;
	}
	
	/*========== 물품대여목록 ==========*/
	.sum-title{
		text-align : left;
		font-weight : bold;
	}
	.main-item-tr:hover{
		background : rgba(0,102,51, 0.3);
	}
	#main_item_table{
		margin : 0 auto;
		width : 100%;
	}
	#main_item_table tr th, #main_item_table tr td{
		text-align : center;
		height : 50px;
	}
	#item_name{
		text-decoration: none;
		color: #000000;
	}
	
	/*======= 회원 정보 ========*/
	.mem-info-content{
		margin : 30px 80px;
	}
	.info-content table{
		margin : 0 auto;
	}
	.mem-info-content table tr{
		height : 80px;
	}
	.mem-info-content table tr th{
		width : 190px;
		text-align : left;
		padding : 20px 10px;
	}
	.mem-info-content table tr th{
		font-size : 13pt;
	}
	.mem-info-content table tr td{
		font-size : 12pt;
	}
	.align-center{
		text-align : center;
	}
	
	/*======== 회원 정보 수정 ========*/
	
	.input-textbox{
		border : 1px solid #A2A2A2;
		border-radius : 5px;
		padding-left : 10px; 
		height: 35px;
	}
	#user_email.input-textbox-email{
		border : 1px solid #A2A2A2;
		border-radius : 5px;
		padding-left : 10px;
		height: 35px;
		margin-top: 1.5px;
	}
	#email_address.select-email{
		border : 1px solid #A2A2A2;
		border-radius : 5px;
		height: 35px;
	}
	#mem_zipcode.input-textbox{
		margin-bottom: -5px;
		height: 35px;
	}
	#zip_button{
		background: #384048;
		color: #FFFFFF;
		margin-bottom: 4px;
	}
	#modify_btn{
		background-color: #E65962;
		color: #FFFFFF;
	}
	#list_btn{
		background-color: #384048;
		color: #FFFFFF;
	}
	
	/*======= 입퇴실내역 =======*/
	#home_btn{
		background-color: #384048;
		color: #FFFFFF;
	}
	
	/*======== 포인트 내역 ==========*/
	.point-content{
		margin : 30px 50px;
	}
	.point-table{
		width : 100%;
		margin : 0;
		padding : 0;
		border-collapse: collapse;
		text-align : center;
	}
	.point-table tr{
		border-bottom : 1px solid rgba(0, 0, 0, 0.2);
		height : 40px;
	}
	.point-table td{
		text-align : center;
	}
	.page-button{
		text-align : center;
		margin-top : 15px;
	}
	.align-selectbox{
		text-align : right;
	}
	.align-selectbox select{
		border-radius : 5px;
		height : 30px;
		font-size : 10pt;
		padding : 5px;
	}
	
	/*======== footer ========*/
	div#main_footer{
		background-color:#B4AAB1;
		padding:30px 0 20px 27px;
		height:220px;
	}
	#footer-content {
	    line-height: 1.7em;
	    font-family: 'Pretendard-Regular';
	    font-size: 11pt;
	}
	div#main_footer .footer-main {
	    float: left;
	}
	div#main_footer .footer-sns {
	    float: right;
	    margin-right: 80px;
	    word-spacing: 15px;
	    padding-top: 40px;
	}
	#footer-logo {
	    color: white;
	    font-size: 12pt;
	    padding: 0px;
	}
	#footer-content{
		line-height: 1.7em;
	    font-family: 'Pretendard-Regular';
	    font-size: 11pt;
	}
	.footer-sns a{
		color:black;
	}
	.footer-sns a:hover{
		color:#F3F1F1;
	}
	.footer-sns{
		display:none;
	}
	div#main_footer{
		padding:30px 10px 20px 5px;
		height:45vh;
	}
	.footer-main{
		margin-left:20px;
	}
	
}

/*========= 기본 크기 화면 ========= */
@media screen and (min-width:991px) { 
	*{
		text-decoration:none;
		list-style-type : none; 
		/*color : black;*/
		margin : 0;
		padding : 0;
	}
	@font-face {
	    font-family: 'Pretendard-Regular';
	    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	    font-weight: 400;
	    font-style: normal;
	}
	.element-box a,.element-box a:hover,a:visited,a:focus{
		text-decoration: none !important;
	    color: #000;
	}
	.btn-toggle-nav a{
		color:black;
	}
	.btn-toggle-nav a:hover,
	.btn-toggle-nav a:focus {
	  background-color: #f4abb2;
	  color:white;
	}
	
	div#main_footer{
		background-color:#B4AAB1;
		padding:30px 0 20px 27px;
		height:220px;
	}
	#footer-content {
	    line-height: 1.7em;
	    font-family: 'Pretendard-Regular';
	    font-size: 11pt;
	}
	div#main_footer .footer-main {
	    float: left;
	}
	div#main_footer .footer-sns {
	    float: right;
	    margin-right: 80px;
	    word-spacing: 15px;
	    padding-top: 40px;
	}
	#footer-logo {
	    color: white;
	    font-size: 12pt;
	    padding: 0px;
	}
	#footer-content{
		line-height: 1.7em;
	    font-family: 'Pretendard-Regular';
	    font-size: 11pt;
	}
	.footer-sns a{
		color:black;
	}
	.footer-sns a:hover{
		color:#F3F1F1;
	}
	.link-font,.span-align a{
		text-decoration:none;
	}
	
	/*========마이페이지 헤더========*/
	/*
	헤더 기본*/
	#mypage-header{
		background-color : #F8E0E6;
	}
	.mypage-title{
		text-align: center;
	}
	/*
	그리드 설정*/
	.element-box{
		width : 1040px;
		margin : 0 auto;
		grid-template-columns : repeat(3,400px 280px 280px);
		grid-template-rows : repeat(2, 120px);
		display : grid;
		gap : 10px;
		padding : 60px 30px;
		height : 369px;
	}
	.element{
		border-radius : 15px;
		background-color : white;
		padding: 20px;
	}
	.element:nth-child(1){
		grid-column : 1 / 2;
		grid-row : 1 / 3;
	}
	.element:nth-child(2){
		grid-column : 2 / 3;
		grid-row : 1 / 1;
	}
	.element:nth-child(2){
		grid-column : 3 / 4;
		grid-row : 1 / 1;
	}
	.element:nth-child(4){
		grid-column : 2 / 4;
		grid-row : 2 / 2;
		grid-column : span 2;
	}
	
	.modal {
		text-align: center;
	}
	@media screen and (min-width: 768px) { 
	        .modal:before {
	                display: inline-block;
	                vertical-align: middle;
	                content: " ";
	                height: 100%;
	        }
	}
	.modal-dialog {
		display: inline-block;
	    text-align: center;
	    vertical-align: middle;
	}
	.modal-dialog.modal-width{
		width : 400px;
	}
	/*
	상세 내용 설정 - 개인정보*/
	.element .profile-photo{
		width : 100px;
		height : 100px;
	}
	.profile-photo, .my-photo{
		object-fit: cover;
	    object-position: top;
		border-radius : 50%;
	}
	/*이름 span 설정*/
	.span-align{
		position : relative;
		font-size : 16pt;
		bottom : -5px;
	}
	/*이동 링크 폰트 굵기 설정*/
	.link-font{
		font-weight : 600;
	}
	/*이동 링크 폰트 작은 경우*/
	.small{
		font-size : 10pt;
	}
	/*이동 링크 폰트 큰 경우*/
	.big{
		font-size: 13pt;
	}
	/*포인트, 시간 가운데 위치 설정*/
	.top{
		line-height: 20px;
	}
	/*표시되는 데이터 폰트 설정*/
	.data-align{
		font-size : 15pt;
		font-weight : 700;
	}
	/*정보수정, 좌석선택 위치 설정*/
	.element:nth-child(1) p{
		position : relative;
		top : 29px;
		left : 288px;
		width : 72px;
	}
	.element:nth-child(4) span a{
		position : relative;
		top : -20px;
		left : 460px;
	}
	.element:nth-child(1) .welcome-msg{
		position: relative;
		top : 15px;
	    left: 12px;
	}
	.element:nth-child(4) .data-time{
		position: relative;
	    left: 146px;
	}
	/*입퇴실 버튼 체크*/
	.seatcheck-buttons{
		margin-top : 12px;
	}
	.seatcheck-button{
		border: 1px solid #A2A2A2;
		border-radius : 5px;
		padding : 5px 20px;
		background-color : transparent;
		cursor : pointer;
	}
	/*사물함 버튼*/
	.locker-btn{
		position : relative;
		top : 50px;
		border : 1px solid #A2A2A2;
		border-radius : 55px;
		padding : 5px;
		background : #FFF;
		font-size : 10pt;
	}
	/*
	모달창 버튼*/
	#photo_submit, #photo_reset{
		border : 1px solid #A2A2A2;
		border-radius : 5px;
		padding : 3px 8px;
		font-size : 10pt;
	}
	input[type=file]::file-selector-button {
	 	background: #fff;
	  	border: 1px solid #A2A2A2;
	  	border-radius: 5px;
	  	cursor: pointer;
	}
	input[type=file]::file-selector-button:hover {
	    background: #A2A2A2;
	    color: #fff;
	}
	/*========마이페이지 메인 목록========*/
	.sum-title{
		text-align : left;
		font-weight : bold;
	}
	.main-item-tr:hover{
		background : rgba(0,102,51, 0.3);
	}
	#main_item_table{
		margin : 0 auto;
		width : 1040px;
	}
	#main_item_table tr th, #main_item_table tr td{
		text-align : center;
		height : 50px;
	}
	#item_name{
		text-decoration: none;
		color: #000000;
	}

	/*========마이페이지 회원정보관련========*/
	/*
	기본*/
	.wrap-meminfo{
		width : 1040px;
		margin : 0 auto;
	}
	/*
	제목*/
	.mypage-title{
		margin-top : 50px;
		margin-bottom : 40px;
	}
	/*
	수평선*/
	.horizontal-line{
		border: solid 2px #626262;
	}
	/*
	회원정보 내용*/
	.mem-info-content{
		margin : 30px 130px;
	}
	.info-content table{
		margin : 0 auto;
	}
	.mem-info-content table tr{
		height : 80px;
	}
	.mem-info-content table tr th{
		width : 190px;
		text-align : left;
		padding : 20px 10px;
	}
	.mem-info-content table tr th{
		font-size : 13pt;
	}
	.mem-info-content table tr td{
		font-size : 12pt;
	}
	.align-center{
		text-align : center;
	}
	.input-textbox{
		border : 1px solid #A2A2A2;
		border-radius : 5px;
		width : 350px;
		height : 40px;
		padding-left : 10px; 
	}
	#user_email.input-textbox-email{
		border : 1px solid #A2A2A2;
		border-radius : 5px;
		width : 150px;
		height : 40px;
		padding-left : 10px; 
	}
	#email_address.select-email{
		border : 1px solid #A2A2A2;
		border-radius : 5px;
		width : 173px;
		height : 40px;
	}
	#zip_button{
		background: #384048;
		color: #FFFFFF;
		border-radius : 5px;
		width : 120px;
		height : 40px;
	}
	.settings-img{
		position : relative;
		left : -14px;
		top : 48px;
		width : 15px;
		height: 15px;
	}
	form#myPageModify_form{
		width : 926px;
	}
	#modify_btn{
		background-color: #E65962;
		color: #FFFFFF;
		position: relative;
	}
	#list_btn{
		background-color: #384048;
		color: #FFFFFF;
	}
	
	/*======= 입퇴실 =======*/
	#home_btn{
		margin-top: 15px;
		margin-bottom: 10px;
		background-color: #384048;
		color: #FFFFFF;
	}
	
	/*========포인트 내역========*/
	.point-content{
		margin : 30px 50px;
	}
	.point-table{
		width : 100%;
		margin : 0;
		padding : 0;
		border-collapse: collapse;
		text-align : center;
	}
	.point-table tr{
		border-bottom : 1px solid rgba(0, 0, 0, 0.2);
		height : 40px;
	}
	.point-table td{
		text-align : center;
	}
	.page-button{
		text-align : center;
	}
	.align-selectbox{
		text-align : right;
	}
	.align-selectbox select{
		border-radius : 5px;
		height : 30px;
		font-size : 10pt;
		padding : 5px;
	}

/*==================
	완전 맘에 드는 UI
  ==================*/
#total-study{
	text-align:center;
}

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 7em;
  height: 2em;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-flip + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
  display: inline-block;
  transition: all 0.4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #02C66F;
  color:white;
  transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
  background: white;
  content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
  transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
  transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
  transform: rotateY(0);
  left: 0;
  background: #7FC6A6;
}
.tgl-flip:checked + .tgl-btn:active:after {
  transform: rotateY(20deg);
}

.total-study{
	position:relative;
	left:79px;
}
}
